<html>

<head>
    <style>
        body {
            background-color: #000000;
            color: rgb(255, 255, 255);
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        h1 {
            font-size: 48px;
        }

        p, a {
            font-size: 24px;
        }

        a {
            color: rgb(0, 255, 55);
            font-weight: bold;
        }

        .container {
            max-width: 800px;
            margin: 100px auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>{{ title }}</h1>

        <p>{{ text }}</p>

        <img src= "https://media.istockphoto.com/photos/inside-underground-stone-cave-picture-id1282785923?k=6&m=1282785923&s=612x612&w=0&h=7oN91M1rJmI4IR5XYsr6ExjhBP80JeoOgZk7aZZmBVA=">

        {% if choices %}

            <p>What do you do?</p>



            <ul>
                {% for (page_name, choice) in choices %}
                <li>
                    <a href="{{url_for(page_name)}}">{{choice}}</a>
                </li>
                {% endfor %}
            </ul>

        {% else %}
            
            <p>THE END.</p>


            <p><a href="{{url_for('start')}}">Play again.</a></p>
        {% endif %}


    </div>
</body>

</html>
